<p id="notice"><%= notice %></p>

<h1>Listing Schedules&#9825;</h1>

<%if @year.nil?%>
  <%@year = Date.today.year%>
  <%@month = Date.today.month%>
<% end %>
<% special =  Time.zone.local(@year,@month)%>


<h3><%=special.year%>年<%=special.month%>月</h3>

<h2>&nbsp;&#9756;&nbsp;<%= link_to"#{special.prev_month.month}月", schedules_path(year: special.prev_month.year,month: special.prev_month.month)%>
&lt;&nbsp;<%="#{special.month}月"%>
&gt;&nbsp;<%= link_to"#{special.next_month.month}月", schedules_path(year: special.next_month.year,month: special.next_month.month)%>
&#9758;


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#10032;
<%= link_to"今月", schedules_path(year: Date.today.year,month: Date.today.month)%>
&#10032;

</h2>


<table border = "1" cellspacing="0">
  <thead>
    <tr>
      <th width = "40">Date</th>
      <th width = "50">WDay</th>
      <th width = "200" border = "1" cellspacing="0">Plan</th>
      <th width = "300">Image</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>  
      <% 
      endday =special.end_of_month
        x = 0...endday.day
        x.each do |y|
          
          today=special.beginning_of_month + y.days%>

          <tr>
            <td height="100" align="center"><%= today.day %>日</td>

            <%arr = ["日","月","火","水","木","金","土"]%>
            <td height="100" align="center" border = "1" cellspacing="0"><%=arr[today.wday]%>曜日</td>

            <%@schedules.each do |schedule| %>
             
              <%if today.year == schedule.date.year && today.month == schedule.date.month && today.day == schedule.date.day%>
                <%if schedule.plan.empty?%>
                  <td width = "50"><%= "予定なし" %></td>
                <%else%>
                  <td width = "50"><%= simple_format(h schedule.plan) %></td>
                <%end%>
                <td align="center"><img src="<%= schedule.image %>" height="100"></td>
                <td><%= link_to 'Show', schedule %>
                <%= link_to 'Edit', edit_schedule_path(schedule) %>
                <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>

             
              <%end%>

            <% end %>
          </tr>
        <% end %>


  </tbody>

</table>

<br>
<%= link_to 'New Schedule', new_schedule_path %>