<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= simple_format(h @schedule.plan) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>Image:</strong>
</p>
<p>
  <img src="<%= @schedule.image %>" width="200">
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
