<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @schedule.plan %>
</p>

<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>Image:</strong>
  <%= @schedule.image %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
